* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.header {
    background: whitesmoke;
}
.toast {
    display: block;
    opacity: 0;
    width: 40%;
    right: 0;
    transform: translateX(2rem);
    border-radius: 0.8rem;
    transition: all 0.5s ease;
}
header {
    user-select: none;
}
.hero-text {
    user-select: none;
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s ease;
}
.js-input {
    width: 60%;
   background: Whitesmoke;
   outline: none;
   user-select: auto;
}
.js-date {
    width: 20%;
    
}
.containTodo {
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.js {
    user-select: none;
}
.addButton {
    width: 15%;
    background:  linear-gradient(90deg, #6a11cb 0%, #2575fc 100%);
color: white;
}
.todo-card {
    border-radius: 1rem;
    user-select: text;
}
.text {
    display: flex;
    flex-wrap: wrap;
}
.error-message {
    color: red;
}
.hover {
    background: black;
}